:root {
    --primary-color: #7FB3D5; /* Soft Blue */
    --secondary-color: #F5F5F5; /* Light Gray */
    --accent-color: #FF6F61; /* Coral */
    --text-color: #333333; /* Dark Gray */
    --hover-bg-color: var(--accent-color); /* Background color on hover */
    --hover-text-color: white; /* Text color on hover */
}

body {
    margin: 0 2rem;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.page-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem;
    transition: ease-in-out 0.2s;
}

/* Header styles */
.nav-wrap {
    background-color: white; /* Neutral background color */
    padding: 2rem;
    text-align: center;
}

.nav-wrap h1 {
    color: var(--text-color);
    font-size: 3rem;
    margin: 0.5rem 0;
}

.nav-wrap p {
    color: var(--text-color);
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

/* Navbar */
.logo {
    height: 300px;
    padding: 0.5em;
    overflow: hidden;
}

.logo a {
    display: grid;
    align-items: start;
    justify-content: center;
}

.logo img {
    object-fit: fill;
    max-width: 100%;
    margin-top: -15%;
}

nav {
    position: relative;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.menu a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 1rem;
    text-align: center;
    transition: background 0.3s ease;
}

.menu a:hover,
.menu a:focus {
    background: var(--hover-bg-color);
    color: var(--hover-text-color);
}

#check {
    display: none;
}

.open-menu,
.close-menu {
    display: none;
    cursor: pointer;
}

.contact-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.contact-button button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-button button:hover,
.contact-button button:focus {
    background-color: #d44c3e;
}

/* Dropdown styles */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background 0.3s ease;
}

.dropdown-content a:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Social Media Header */
.social-media-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.social-media-header a {
    text-decoration: none;
}

.social-media-header i {
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: 40px;
    color: var(--text-color);
}

.social-media-header i:hover {
    transform: scale(1.2);
    color: var(--accent-color);
}

.instagram-icon {
    font-size: 40px;
    line-height: 40px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.instagram-icon::before {
    content: "\f16d";
    font-family: 'Font Awesome 5 Brands';
    font-size: 40px;
}

/* Index */
.intro {
    background-color: var(--secondary-color);
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-title {
    margin-bottom: 20px;
}

.footer-title p, .footer-title a  {
    font-size: 24px;
    color: #fff;
}

.left-footer-text {
    display: grid;
    grid-template-columns: 1fr;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
}

.footer-column {
    margin-right: 30px;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-text {
    text-align: center;
    margin: 1rem 0;
}

.branding-text {
    font-family: 'Arial', sans-serif;
    font-size: 1.25rem;
    color: #fff;
}

.highlight {
    color: green;
    font-weight: bold;
}

.highlight-red {
    color: #F13F00;
    font-weight: bold;
}

.highlight-orange {
    color: orange;
    font-weight: bold;
}

.highlight-green {
    color: #00FF00;
    font-weight: bold;
}

.highlight-purple {
    color: #93008E;
    font-weight: bold;
}


.social-media a {
    color: #fff;
    margin-right: 10px;
}

social-media a:last-child {
    margin-right: 0;
}

/* Responsive Menu */
@media (max-width: 768px) {
    .nav-wrap h1, .nav-wrap p {
        display: none;
    }
    
    .menu {
        display: none;
        grid-template-columns: 1fr;
        background-color: var(--secondary-color);
        z-index: 1;
        width: 100%;
        position: relative;
    }

    .open-menu {
        display: block;
        position: absolute;
        top: 1rem;
        left: 1rem;
        cursor: pointer;
        z-index: 2;
    }

    #check:checked + .open-menu {
        display: none;
    }

    #check:checked ~ .menu {
        display: grid;
    }

    .close-menu {
        display: block;
        text-align: left;
        padding: 1rem;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 2;
    }

    .close-menu i {
        font-size: 2rem;
    }

    nav {
        position: relative;
    }

    .menu a {
        padding: 1rem 2rem;
        text-align: left;
    }

    .contact-button {
        margin-top: 7rem; /* Add more margin to ensure it doesn't overlap with the menu */
    }
}

/* Responsive Footer */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-column {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .social-media {
        margin-top: 20px;
    }
}

/* Secties */
section {
    background-color: var(--secondary-color);
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

p {
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 1rem;
}

/* Under Construction */
.background-handshake {
    position: fixed;
    size: 100% 100vh;
    z-index: -1;
    opacity: 0.4;
    margin: 0 -100px -300px;
}

.background-handshake h3 {
    color: var(--text-color);
}

.open_space {
    height: 200px
}
